.md-header {
    background-color: #b4bcc2; /* Couleur de fond */
    color: #ffffff; /* Couleur du texte */
}

.md-footer {
    background-color: #b4bcc2; /* Couleur de fond */
    color: #ffffff; /* Couleur du texte */
}